.grid{
  margin: 100px;
  border: 2px solid;
  height: 180px;
  width: 180px;
}

.block{
  height: 60px;
  width: 60px; 
  border: 1px solid;  
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.rows{
  display: flex;  
}

